<%- include ../partials/header.ejs %>
<div class="container py-4">    
    <div class="p-5 mb-4 bg-dark text-white rounded-3">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="/images/logo.PNG"
                    class="img-fluid" >
                </div>
                <div class="col-md-8 col-lg-6 offset-xl-1">
                <form action="/users/signup" method="post" validate>
                    <div class="form-group">
                        <label>First Name:</label>
                        <input type="text" name="firstName" value="<%= user.firstName %>" class="form-control form-control-lg"
                            placeholder="Enter first name" />
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input type="text" name="lastName" value="<%= user.lastName %>" class="form-control form-control-lg"
                            placeholder="Enter Last name" />
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" name="email" value="<%= user.email %>" class="form-control form-control-lg"
                            placeholder="Enter Email" />
                    </div>
                    <div class="form-group">
                        <label>User Name:</label>
                        <input type="text" name="username" value="<%= user.username %>" class="form-control form-control-lg"
                            placeholder="Enter username" />
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" name="password" value="<%= user.password %>" class="form-control form-control-lg"
                            placeholder="Enter password" />
                    </div>
                    <div class="form-group">
                        <label>Confirm password:</label>
                        <input type="password" name="password_confirm" class="form-control form-control-lg"
                            placeholder="Confirm password" />
                    </div>

                    <div class="text-center text-lg-start mt-2 pt-2">
                        <input class="btn btn-secondary" type="submit" value="Sign up" />
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
    


<%- include ../partials/footer.ejs %>